<p id="notice"><%= notice %></p>

<h1>Playlists</h1>
<br>
<table class="table table-hover table-secondary">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Playlist</th>
      <th scope="col">Usuario</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @playlists.each do |playlist| %>
    <tr class="table-dark">
      <th scope="row"><%= "##{playlist.id}"%></th>
      <td><%= playlist.name %></td>
      <td><%= playlist.user.name %></td>
      <td><%= link_to 'Show', playlist, class:'btn btn-success' %></td>
      <td><%= link_to 'Edit', edit_playlist_path(playlist), class:'btn btn-warning' %></td>
      <td><%= link_to 'Destroy', playlist, method: :delete, data: { confirm: '¿Seguro?' },class:'btn btn-danger' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Nueva playlist', new_playlist_path, class:'btn btn-primary' %>
